<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Page</title>

    <!-- Custom Css -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'dashboarduser.css')}}"/>

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
    <!-- Navbar top -->
    <div class="navbar-top">
        <div class="title">
            <h1>User Profile</h1>
        </div>

        <!-- Navbar -->
        <!-- <ul>
            <li>
                <a href="#message">
                    <span class="icon-count">29</span>
                    <i class="fa fa-envelope fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="#notification">
                    <span class="icon-count">59</span>
                    <i class="fa fa-bell fa-2x"></i>
                </a>
            </li>
            <li>
                <a href="#sign-out">
                    <i class="fa fa-sign-out-alt fa-2x"></i>
                </a>
            </li>
        </ul>
        <!-- End -->
    </div> -->
    <!-- End -->

    <!-- Sidenav -->
    <div class="sidenav">
        <div class="profile">
            <img src="{{ url_for('static',filename = 'userimage.png')}}" alt="" width="100" height="100">
<!-- add username -->
            <div class="name">
                {{username}}
            </div>
            <!-- <div class="job">
                Web Developer
            </div> -->
        </div>

        <div class="sidenav-url">
            <form method ="POST">
                <div class="container">
                    <button class = 'xxx' name = "">Profile</button>
                </div>
            <form method ="POST">
                <div class="container">
                    <button class = 'xxx' name = "hist">Medical History</button>
                </div>
            <form method ="POST">
                <div class="container">
                    <button class = 'xxx' name = "click">QR-Code</button>
                </div>      
        </div>
    </div>
    <!-- End -->

    <!-- Main -->
    <div class="main">
        <h2>PROFILE</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <table>
                    <tbody>
                        <tr>
                            <!-- add in td from database -->
                            <td><b>First Name</b></td>
                            <td>:</td>
                            <td>{{firstname}}</td>
                        </tr>
                        <tr>
                            <td><b>Last Name</b></td>
                            <td>:</td>
                            <td>{{lastname}}</td>
                        </tr>
                        <tr>
                            <td><b>Location</b></td>
                            <td>:</td>
                            <td>{{location}}</td>
                        </tr>
                        <tr>
                            <td><b>Date Of Birth</B></td>
                            <td>:</td>
                            <td>{{dateofbirth}}</td>
                        </tr>
                        <tr>
                            <td><b>Email</b></td>
                            <td>:</td>
                            <td>{{email}}</td>
                        </tr>
                        <tr>
                            <td><b>Phone number</b></td>
                            <td>:</td>
                            <td>{{phone}}</td>
                        </tr>
                        <tr>
                            <td><b>Aadhaar number</b></td>
                            <td>:</td>
                            <td>{{aadhaar}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <h2>SOCIAL MEDIA</h2>
        <div class="card">
            <div class="card-body">
                <i class="fa fa-pen fa-xs edit"></i>
                <div class="social-media">
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-invision fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-sm">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-snapchat fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End -->
</body>
</html>